div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;

  game {
    display: flex;
    border: solid;
    background-color: blue;
    width: 25%;
    height: 20%;
    margin: 2% 2% 2% 2%;
  }
}
