<div>
  <game *ngFor = "let game of service.listOfGames" [gameName] = "game.game_name"
  [style.background] = "service.getUrlForImage(game.game_name)" (click) = "service.clickGame(game)"></game>
</div>
