<header>
  <div [ngClass] = "{'chosen': service.mode == 'featured'}"
       (click) = "service.changeMode('featured')"> Featured Games</div>
  <div [ngClass] = "{'chosen': service.mode == 'slots'}"
       (click) = "service.changeMode('slots')"> Slot Games </div>
  <div [ngClass] = "{'chosen': service.mode == 'card'}"
       (click) = "service.changeMode('card')"> Card Games </div>
  <div [ngClass] = "{'chosen': service.mode == 'table'}"
       (click) = "service.changeMode('table')"> Table Games </div>
</header>

<list-of-games></list-of-games>


