header {
  display: flex;
  width: 100%;
  height: 5%;
  padding: 0 10% 0 10%;
  margin-bottom: 5%; }
  header div {
    display: flex;
    width: 20%;
    border: solid;
    justify-content: center; }
  header .chosen {
    background-color: cornflowerblue; }

list-of-games {
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: center; }

/*# sourceMappingURL=app.component.css.map */
